<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE | Change Password</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">

    <link rel="stylesheet" th:href="@{/admin-lte/plugins/fontawesome-free/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin-lte/dist/css/adminlte.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body class="login-page" style="min-height: 496.797px;">
<div class="login-box">
    <div class="login-logo">
        <a href="javascript:void(0)"><b>Admin</b></a>
    </div>

    <div class="card" th:if="${info.get('isValid')}">
        <div class="card-body login-card-body">
            <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
            <form id="form-change-password">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" id="new-password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Confirm Password" id="confirm-password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block" id="btn-change-password">Change password
                        </button>
                    </div>
                </div>
            </form>
            <p class="mt-3 mb-1">
                <a th:href="@{/admin/login}">Đăng nhập</a>
            </p>
        </div>
    </div>

    <div class="card" th:if="${not info.get('isValid')}">
        <div class="card-body login-card-body">
            <p class="login-box-msg" th:text="${info.get('message')}">You are only one step a way from your new password, recover your password now.</p>
        </div>
    </div>
</div>

<script th:src="@{/admin-lte/plugins/jquery/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
    const token = [[${token}]];
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    const formChangePasswordEl = document.getElementById("form-change-password");
    const newPasswordEl = document.getElementById("new-password");
    const confirmPasswordEl = document.getElementById("confirm-password");

    formChangePasswordEl.addEventListener("submit", async (e) => {
        e.preventDefault();

        const request = {
            newPassword: newPasswordEl.value,
            confirmPassword: confirmPasswordEl.value,
            token: token
        }
        try {
            let res = await axios.post("/api/v1/admin/auth/change-password", request)
            if (res.status === 200) {
                toastr.success("Đổi mật khẩu thành công");
                setTimeout(() => {
                    window.location.href = "/admin/login"
                }, 1000)
            }
        } catch (e) {
            toastr.error(e.response.data.message)
            console.log(e);
        }
    })
</script>

</body>
</html>